#
# Sharp Touchscreen configuration
#

if TOUCHSCREEN_SHTPS

	config SHTPS_SY3X00_DEV
		tristate "SY3x00 Device"
		default n
		depends on TOUCHSCREEN_SHTPS

	config SHTPS_SY3000_TM3058_001
		tristate "SY3000 TM3058-001"
		default n
		depends on SHTPS_SY3X00_DEV

	config SHTPS_SY3000_TM3059_001
		tristate "SY3000 TM3059-001"
		default n
		depends on SHTPS_SY3X00_DEV

endif # TOUCHSCREEN_SHTPS
